aiohttp==3.9.1
aiosignal==1.4.0
attrs==25.4.0
certifi==2025.11.12
charset-normalizer==3.4.4
frozenlist==1.8.0
idna==3.11
multidict==6.7.0
propcache==0.4.1
python-dotenv==1.0.0
requests==2.31.0
typing_extensions==4.15.0
urllib3==2.6.1
yarl==1.22.0
